.team-detail {
  background: #ffffff;
  width: max-content;
  border-radius: 30px;
  box-shadow: 8px 17px 27px 12px rgba(25,13,13,0.69);
  -webkit-box-shadow: 8px 17px 27px 12px rgba(25,13,13,0.69);
  -moz-box-shadow: 8px 17px 27px 12px rgba(25,13,13,0.69);

  img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 700px;
    height: 300px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
  }
}